body {
    font-family: 'roboto', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    margin: 0;
}

.Main-header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #1F2937;
}

.Start-header {
    display: flex;
    justify-content: space-between;
    padding: 20px 120px;
    margin-bottom: 80px;
}

.Header-logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
    padding-left: 16px;
    box-shadow: -5px -5px 8px blue, -10px -10px 8px red, -15px -15px 8px green inset;
}

.Header-links {
    display: flex;
    gap: 24px;
    margin: o;
    padding: 0;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

a:hover {
    background-color: blue;
}

.End-header {
    display: flex;
    justify-content: space-between;
    padding: 20px 120px;
    margin-bottom: 65px;
}

.Hero {
    padding-left: 16px;
}

.Hero-text {
    font-size: 48px;
    font-weight: 900;
    color:  #F9FAF8;
    width: 380px;
}

.Secondary-text {
    font-size: 18px;
    color: #E5E7EB;
    width: 490px;
}

.information {
    text-align: center;
}

.container {
    display: flex;
    justify-content: center;
    gap: 52px;
    margin-bottom: 140px;
}

.title {
    margin: 48px 0;
    font-size: 36px;
    font-weight: 900;
    color:#1F2937;
}

img {
    margin-bottom: 16px;
    border-radius: 8px;
}

.Action {
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: white;
   padding: 100px 0;

}

.Action-again {
  background-color: #3882F6;
  display: flex;
  gap: 400px;
  padding: 60px 80px;
  border: 1px hidden black;
  border-radius: 8px;
}

.Within-action {
    display: flex;
    flex-direction: column;
    color: white;
}

.action-call {
    font-weight: bold;
    font-size: 36px;
}

.Footer {
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 0; 
    color: white;
}

.Quote {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #E5E7EB ;
    color:#1F2937;
    font-size: 36px;
    font-weight: 100;
    font-style: italic;
    padding: 100px 180px;
}


p {
    display: flex;
    align-self: flex-end;
    font-weight: bolder;
    font-style: normal;
}

.Begin,
.End {
    background-color: #3882F6;
    color: white;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    border-radius: 8px;
}

.End {
    border: 2px solid white;
    padding: 1px 32px;
}

.Begin {
    padding: 8px 32px;
    border: 1px hidden black;
}

button:hover {
    background-color: blue;
}